.container,
.text-container {
	margin: 0 auto;
	position: relative;
	padding: 0 20px;
}

.text-container {
	max-width: 1000px;
}

.container {
	max-width: 1000px;
}

header {
	color: #fff;
	padding: 20px 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	a {
		color: #fff;
		text-decoration: none;
		z-index: 1;
		position: relative;

		&:hover {
			text-decoration: none;
		}
	}

	.company-name {
		font-size: 1.5em;
	}
}

.content {
	background: #fff;
	padding: 1px 0 0 0;
	position: relative;
}

.screenshot{
	height: auto;
	display: block;
	margin: 0 auto;
	box-shadow: 0 1px 0 #ccc,0 1px 1px #eee;
	border-radius: 2px;
	padding: 20px 0 0;
	background: url($screenshot-buttons) 4px 4px no-repeat #DDD;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
}

section {
	padding: 30px 0;
	background: #fff;
	margin-top: -2px;

	&.hero {
		color: #ffffff;
		background: $brand-color;
		@include header-gradient();
		text-align: left;
		margin-top: -100px;
		padding-top: 220px;

		h2, p {
			max-width: 90%;
		}

		h2 {
			font-size: 2.5rem;
		}

		p {
			font-size: 1.5rem;
			color: #fff;
		}

		a:not(.button) {
			color: #ffffff;
			font-style: italic;
		}
	}

	&.alternate {
		background: #eee;
	}
}

.button {
	margin: 10px 20px 0px 0px;
	padding: 8px;
	min-width: 150px;
	text-align: center;
	white-space: nowrap;
	box-sizing: border-box;
	display: inline-block;
	background: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
	background: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
	background: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
	background: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
	background: linear-gradient(top, #f5f5f5, #f1f1f1);
	border: 1px solid #dcdcdc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #333;
	cursor: pointer;
	outline: 0;
	font-family: arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	font-style: normal!important;
	
	&:hover {
		background: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
		background: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
		background: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
		background: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
		background: linear-gradient(top, #f8f8f8, #f1f1f1);
		border: 1px solid #c6c6c6;
		color: #111;
		text-decoration: none;
	}

	&:focus {
		-moz-box-shadow: inset 0 0 0 1px #fff;
		-webkit-box-shadow: inset 0 0 0 1px #fff;
		box-shadow: inset 0 0 0 1px #fff;
	}

	&:active {
		background: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
		background: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
		background: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
		background: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
		background: linear-gradient(top, #f8f8f8, #f1f1f1);
		border: 1px solid #ccc;
		-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
		-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
		color: #111;
	}
}

.button img, .button span {
	vertical-align: middle;
}

.halves {
	display: flex;
	flex-flow: wrap;
	align-items: center;

	> div {
		flex: 1 0 100%;
	}

	@media #{$mid-point} {
		> div {
			flex: 1;
		}

		> div + div {
			padding-left: 20px;
			margin: 0;
		}
	}
}

.aligned-top {
	align-items: flex-start;
}

.image-grid {
	padding: 0;
	list-style: none;
	display: flex;
	flex-flow: wrap;
	text-align: center;
	margin: 0 -20px;

	li {
		padding: 0;
		box-sizing: border-box;
		width: 100%;
		position: relative;
		overflow: hidden;
		margin: 20px;
		border-radius: 5px;
		text-align: left;
		border: 1px solid $brand-color;
		line-height: 0;

		@media #{$tablet} {
			flex: 1 1 50%;
		}

		@media #{$desktop} {
			flex: 1 1 30%;
		}

		img {
			min-width: 100%;
		}

		> a:hover {
			opacity: 0.9;
		}
	}

	.square-image {
		height: 320px;

		img {
			min-height: 100%;
			width: 100%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}

	.details {
		line-height: 1.2;
		font-size: 1.1rem;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.5);
		padding: 20px;
	}

	.name {
		font-size: 1.3rem;
		color: $highlight-color;
	}

	.position {
		margin-top: 5px;
		color: #fff;
	}

	.filler {
		border: 0;
	}
}

.image-list,
.image-list li {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.patterned {
	background: #222 url($pattern);

	&,
	p {
		color: #fefefe;
	}
}

.stats {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;	
}

.stats-block {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	margin: 15px;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	border-radius: 3px;
}

.stats-block h4 {
	color: grey;
	font-size: 12pt;
}

.stats-block:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}